!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %meta{"name"=>"viewport", "content"=>"width=device-width, minimum-scale=1.0, maximum-scale=1.0"}
    = csrf_meta_tag
  %body
    = yield
    = yield :javascript
